.pokemon-main-container{
  width: 80%;
  height: 70vh;
  border: 2px solid rgb(145, 4, 4);
  border-radius: 20px;
  margin: auto;
}

.search-pokemon-container{
  display: flex;
  align-items: center;

  width: 100%;
  padding: 10px;
}

.search-input{
  border-radius: 10px;
  border-color: rgb(230, 77, 0);
  padding: 5px;
  width: 70%;
}

.search-icon:hover{
  
}

.search-icon{
  height: 20px;
  margin-left: 5px;
  padding : 5px;
}